:root {
    --hour-assigned-to-task: 9; /* Set the default hour for the task */
}



.main {
    background-color: #f7f3e9;
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.hourwrapper {
    margin-left: auto;
    margin-right: auto;
    background-color: #b8968a;
    border-radius: 20px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: white;
}

.hour {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid antiquewhite;
    margin-top: 10px;
    padding: 15px;
    width: min-content;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.task {
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    position: absolute;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    cursor: grab; /* Change cursor style when hovering over draggable elements */

}

.task:active {
  cursor: grabbing; /* Change cursor style when dragging */
  /* Add additional styling for the dragged element, such as a shadow or opacity */
}

.drop-zone {
    position: absolute;
    width: 350px;
    height: 55px;
    background-color: white;
}

